extends layout

block link
  -var active = '/adcats'
  
block content
  .row
    .col-lg-8
      .card
        .header
          if pending
            legend Новая категория объявлений
          else
            legend #{title}
        .content
          form.form-horizontal(method='post')
            .form-group
              label.col-sm-2.control-label Название
                star *
              .col-sm-10
                input.form-control(type='text' name='title' value=title autofocus)
            .form-group
              label.col-md-2
              .col-sm-9
                if !pending
                  input(type='hidden' name='id' value=_id)
                button.btn.btn-fill.btn-success(type='submit' formaction=pending ? '/adcats/new' : '/adcats/update') Сохранить категорию