head
  block title
    title= `GOAMAP | ${pagetitle}`
  block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='description', content='')
    meta(name='author', content='')
    
  block styles
    link(href='/css/bundle.css', rel='stylesheet')

    link(href='/static/css/bootstrap.min.css', rel='stylesheet')
    link(href='/static/css/animate.min.css', rel='stylesheet')
    link(href='/static/css/light-bootstrap-dashboard-pro.css', rel='stylesheet')
    link(href='/static/css/light-bootstrap-dashboard.css', rel='stylesheet')
    
    link(href='/static/css/font-awesome.min.css', rel='stylesheet')
    link(href='/static/css/pe-icon-7-stroke.css', rel='stylesheet')

    link(href='/static/css/demo.css', rel='stylesheet')
    link(href='/static/css/summernote.css' rel='stylesheet')

    link(href='/css/app.css', rel='stylesheet')