block scripts

  script(src='/js/bundle.js')

  if active != '/guides'
    script(src='/static/js/jquery-1.10.2.js')
  
  script(src='/static/js/bootstrap.min.js')
  script(src='/static/js/bootstrap-checkbox-radio-switch.js')
  script(src='/static/js/chartist.min.js')
  script(src='/static/js/bootstrap-notify.js')
  script(src='/static/js/light-bootstrap-dashboard.js')
  script(src='/static/js/demo.js')
  script(src='/static/js/summernote.js')

  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBcI7D8hQM8YQs-I_-AAe6gKqNiuwdJvPc')
  
  script(src='/js/app.js')