.modal.fade#album-picker
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss='modal')
          span ×
        .modal-title Перемещение фотографий
      .modal-body
        .form-group
          label Поиск альбома
          input.form-control#album-search(type='text')
        br
        .form-group
          table.table.table-hover
            thead
              tr
                th
                th Название
            tbody#albums
              tr
                td
                td Нет результатов
      .modal-footer
        button.btn.btn-secondary(data-dismiss='modal') Закрыть